include _mixins.pug

doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    title= title
    +stylesheet_link_tag('style')
    +stylesheet_link_tag('app')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('templatesCompiled')
  body
    block header
      nav.app-layout.clearfix

    block content

    +javascript_include_tag('models/user', 'models/board', 'models/list', 'models/card')
    +javascript_include_tag('collections/users', 'collections/boards', 'collections/lists', 'collections/cards')
    +javascript_include_tag('views/nav', 'views/boards', 'views/lists')
    +javascript_include_tag('routers/router')
    +javascript_include_tag('app')
    script(type='text/javascript').
      App.init(!{JSON.stringify(user)});
