include _mixins.pug

doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    title= title
    +stylesheet_link_tag('style')
    +stylesheet_link_tag('app')
    +javascript_include_tag('vendor/all')
  body
    block header
      nav.app-layout.clearfix
        header
          a.logo-white.dashboard(href='/')
            img(src='/images/trello-logo-white.svg' alt='logo')
          div.header-boards.header-box.mod-left
            a.header-btn(href='/boards')
              span.logo-white.icon logo
              span Boards
          div.header-search.header-box.mod-left
            input.search-box(type='text')
            span.icon-lg.icon-search
            a.icon-lg.icon-external-link.hide(href='/search')
            span.icon-lg.icon-close.hide
          div.header-box.header-icon.icon-lg.icon-notification.mod-right
          div.header-box.header-icon.icon-lg.icon-information.mod-right
          div.header-user.header-box.mod-right
            img(src='//www.gravatar.com/avatar/82fa34257e5573cac94e3f59b5a2201b?s=30')
            span Victor Paolo Reyes
          div.header-box.header-icon.icon-lg.icon-add.mod-right

    block content

    +javascript_include_tag('app')
