extends app-layout

append header

block content
  main.app
    header#boards-header.clearfix
      span.board-title.large-board-header JavaScript Courses
      span.board-menu.small-board-header.mod-right
        span.icon-sm.icon-overflow-menu-horizontal
        span.underline Show Menu
      span.board-subscription.small-board-header.mod-right
        span.icon-sm.icon-subscribe
        span.underline Subscribed
    div.lists-container
      ul#lists
        li.list(data-pos="1" data-id=1)
          header.clearfix
            input.list-name(value="To Do")
            span.icon-sm.icon-overflow-menu-horizontal.list-menu
          ul.cards
            li.card(data-pos="1" data-id=1) Task1
            li.card(data-pos="2" data-id=2) Task2
            li.card(data-pos="3" data-id=3) Task3
            li.card(data-pos="4" data-id=4) Task4
            li.card(data-pos="5" data-id=5) Task5
            li.card(data-pos="6" data-id=6) Task6
            li.card(data-pos="7" data-id=7) Task7
            li.card(data-pos="8" data-id=8) Task8
          p Add a card...
        li.list(data-pos="2" data-id=1)
          header.clearfix
            input.list-name(value="Completed")
            span.icon-sm.icon-overflow-menu-horizontal.list-menu
          ul.cards
            li.card(data-pos="1" data-id=1) Task1
            li.card(data-pos="2" data-id=2) Task2
            li.card(data-pos="3" data-id=3) Task3
            li.card(data-pos="4" data-id=4) Task4
            li.card(data-pos="5" data-id=5) Task5
            li.card(data-pos="6" data-id=6) Task6
            li.card(data-pos="7" data-id=7) Task7
            li.card(data-pos="8" data-id=8) Task8
          p Add a card...
        li.list(data-pos="3" data-id=3)
          header.clearfix
            input.list-name(value="In Progress")
            span.icon-sm.icon-overflow-menu-horizontal.list-menu
          ul.cards
            li.card(data-pos="1" data-id=1) Task1
            li.card(data-pos="2" data-id=2) Task2
            li.card(data-pos="3" data-id=3) Task3
            li.card(data-pos="4" data-id=4) Task4
            li.card(data-pos="5" data-id=5) Task5
            li.card(data-pos="6" data-id=6) Task6
            li.card(data-pos="7" data-id=7) Task7
            li.card(data-pos="8" data-id=8) Task8
          p Add a card...
  //-
    div#boards-search
      input.board-search-box(placeholder="Find boards by name...")
      section.clearfix
        header
          span.icon-sm.icon-board
          span Personal Boards
        ul.search-boards
          li.search-board(data-id='1')
             a(href="/boards/id") JavaScript Courses
               span
          li.search-board(data-id='1')
             a(href="/boards/id") JavaScript Courses
               span
          li.search-board(data-id='1')
             a(href="/boards/id") JavaScript Courses
               span
  //-
    div#boards-notification
      header.clearfix
        span Notifications
        span.icon-sm.icon-close
      ul.notifications
        li.notification.clearfix
          img(src='//www.gravatar.com/avatar/82fa34257e5573cac94e3f59b5a2201b?s=30')
          span.notification-type.
            #[span.author Victor Reyes] moved the card #[a(href="/boards/id/lists/id") Add project as assignment type] to #[span.destination Doing] on #[a(href="/boards/id") Development] #[span.ago 2 hours ago]
        li.notification.clearfix
          img(src='//www.gravatar.com/avatar/82fa34257e5573cac94e3f59b5a2201b?s=30')
          span.notification-type.
            #[span.author Victor Reyes] attached the card #[a(href="/boards/id/lists/id") Add project as assignment type very long asdasd asdasdasd  asdasdasd asdasdasdas asdasdasd] to #[span.destination Doing] on #[a(href="/boards/id") Development] #[span.ago yesterday at 10:56 AM]

  //-
    div#create-board
      header.clearfix
        span Create Board
        span.icon-sm.icon-close
      form(method="post" action="/boards/create")
        label Title
        input(type="text" name="title" placheolder="Like \"Weekly Meal Planning\" for example..")
        input.btn.btn-primary(type="sumbit" value="Create")
  //-
    div#profile
      header.clearfix
        span Victor Reyes
        span.icon-sm.icon-close
      ul
        li: a(href="/users/profile") Profile
        li: a(href="/users/logout") Logout

  //-
    header.clearfix
      span.icon-lg.icon-star
      h3.boards-section-header Starred Boards
    ul.boards#boards-starred
      li.board(data-id='1')
        a(href="/boards/id") JavaScript Courses
          span.icon-sm.icon-star.mod-right
      li.board(data-id='2')
        a(href="/boards/id") Welcome Board
          span.icon-sm.icon-star.mod-right
      li.board(data-id='3')
        a(href="/boards/id") Imported Exercises
      li.board(data-id='4')
        a(href="/boards/id") LS Tasks
      li.board(data-id='4')
        a(href="/boards/id") Board 2
      li.board(data-id='5')
        a(href="/boards/id") Board 2
      li.board(data-id='6')
        a(href="/boards/id") Board 2
      li.board(data-id='7')
        a(href="/boards/id") Board 2
      li.board(data-id='8')
        a(href="/boards/id") Board 2
      li.new-board
        a(href="/boards/new") Create new board...
    header.clearfix
      span.icon-lg.icon-member
      h3.boards-section-header Personal Boards
    ul.boards#boards-personal
      li.board
        a(href="/boards/id") JavaScript Courses
      li.board
        a(href="/boards/id") Welcome Board
      li.board
        a(href="/boards/id") Imported Exercises
      li.board
        a(href="/boards/id") LS Tasks
      li.board
        a(href="/boards/id") Board 2
      li.board
        a(href="/boards/id") Board 2
      li.board
        a(href="/boards/id") Board 2
      li.board
        a(href="/boards/id") Board 2
      li.board
        a(href="/boards/id") Board 2
      li.new-board
        a(href="/boards/new") Create new board...
