extends layout

append header

block content
  form(method="post")
    h1 Log Into Your Account

    if error
      p ERROR: #{error}
      p.
        No account yet? #[a(href="/users/register") Sign Up]

    input(type="hidden", name="_csrf", value=csrfToken)

    span Email:
    input(type="email", name="email", required=true)
    br

    span Password:
    input(type="password", name="password", required=true)
    br

    input(type="submit")
