extends layout

append header

block content
  div.info-content
    form(method="post" action="/users/register" id="signup")
      if error
        p ERROR: #{error}

      h1 Create an Account

      input(type="hidden" name="_csrf" value=csrfToken)

      dl
        dt: span First Name:
        dd: input(type="text" name="firstName" required=true)

        br

        dt: span Last Name:
        dd: input(type="text" name="lastName" required)
        br

        dt: span Email:
        dd: input(type="email" name="email" required)
        br

        dt: span Password:
        dd: input(type="password" name="password" required)
        br

      input.btn(type="submit" class="btn btn-primary")
