<header id="boards-header" class="clearfix">
  <span class="board-title largae-board-header">{{boardTitle}}</span>
  <span class="board-menu small-board-header mod-right">
    <span class="icon-sm icon-overflow-menu-horizontal"></span>
    <span class="underline">Show Menu</span>
  </span>
  <span class="board-subscription small-board-header mod-right">
    <span class="icon-sm icon-subscribe"></span>
    <span class="underline">Subscribed</span>
  </span>
</header>