<div id="boards-notification" class="pop-up">
  <header class="clearfix">
    <span>Notifications</span><!--
    --><span class="icon-sm icon-close"></span>
  </header>
  <ul class="notifications">
    {{~#each notifications~}}
      <li class="notification clearfix">
        {{generateNotification notificationData}}
      </li>
    {{~/each~}}
  </ul>
</div>