<div id="create-board" class="pop-up">
  <header class="clearfix">
    <span>Create Board</span><!--
    --><span class="icon-sm icon-close"></span>
  </header>
  <form method="post" action="/boards/create">
    <label>Title</tile>
    <input type="text" name="title" placeholder="Like 'Weekly Meal Planning' for example..">
    <input type="submit" class="btn btn-primary" value="Create">
  </form>
</div>