<div id="profile">
  <header class="clearfix">
    <span>{{firstName}}  {{lastName}}</span><!--
    --><span class="icon-sm icon-close"></span>
  </header>
  <ul>
    <li>
      <a href="/users/profile/{{id}}">Profile</a>
    </li>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
</div>
