body,
html {
  background: #fff;
}
nav.app-layout {
  padding: 5px;
  background: #026aa7;
}
nav.app-layout img,
nav.app-layout span {
  vertical-align: middle;
}
nav.app-layout span {
  font-size: 14px;
  font-weight: 700;
}
nav.app-layout .logo-white.dashboard {
  height: 1.2em;
  opacity: 0.5;
  display: block;
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -38px;
  transition: opacity 0.2s ease-in;
}
nav.app-layout .logo-white.dashboard img {
  height: 100%;
}
nav.app-layout .logo-white.dashboard:hover {
  opacity: 0.8;
}
nav.app-layout .logo-white.icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-indent: 9999px;
  background: transparent url("/images/logo.png") 0 5px no-repeat;
  background-size: 20px;
  margin-right: 2px;
}
nav.app-layout .header-box {
  height: 30px;
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: middle;
}
nav.app-layout .header-box:hover {
  background: rgba(255,255,255,0.4);
}
nav.app-layout .header-boards {
  padding: 0 5px;
}
nav.app-layout .header-search.header-box {
  position: relative;
  margin-left: 5px;
}
nav.app-layout .header-search.header-box input {
  height: 30px;
  position: relative;
  width: 150px;
  padding: 0 30px 0 8px;
  margin: 0;
  font-size: 13px;
  opacity: 0;
  border: none;
  border-radius: 3px;
  z-index: 1;
  transition: width 0.2s ease-in;
}
nav.app-layout .header-search.header-box input.focus {
  opacity: 1;
  outline: none;
  width: 318px;
  padding-right: 54px;
}
nav.app-layout .header-search.header-box input.focus ~ .hide {
  display: inline-block;
}
nav.app-layout .header-search.header-box input.focus ~ .icon-search {
  display: none;
}
nav.app-layout .header-search.header-box span,
nav.app-layout .header-search.header-box a {
  font-size: 14px;
  color: #fff;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
nav.app-layout .header-search.header-box span.icon-search,
nav.app-layout .header-search.header-box a.icon-search {
  top: 0;
  right: 0;
}
nav.app-layout .header-search.header-box span.icon-close,
nav.app-layout .header-search.header-box a.icon-close {
  top: 0;
  right: 0;
  color: #ccc;
}
nav.app-layout .header-search.header-box span.icon-close:hover,
nav.app-layout .header-search.header-box a.icon-close:hover {
  color: #4d4d4d;
}
nav.app-layout .header-search.header-box span.icon-external-link,
nav.app-layout .header-search.header-box a.icon-external-link {
  top: 0;
  right: 24px;
  color: #ccc;
}
nav.app-layout .header-search.header-box span.icon-external-link:hover,
nav.app-layout .header-search.header-box a.icon-external-link:hover {
  color: #4d4d4d;
}
nav.app-layout .header-user {
  margin: 0 3px;
}
nav.app-layout .header-user span {
  padding: 0 8px;
}
nav.app-layout .header-user img {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
nav.app-layout .header-icon {
  color: #fff;
  font-size: 16px;
  margin: 0 3px;
}
.hide {
  display: none;
}
main.app {
  position: relative;
  width: 86%;
  min-width: 960px;
  min-height: 800px;
  padding: 40px 7% 0 7%;
  color: #4d4d4d;
}
main.app header .boards-section-header {
  font-size: 1pc;
  font-weight: 700;
}
main.app header span,
main.app header .boards-section-header {
  display: inline-block;
  vertical-align: middle;
}
main.app header span {
  margin-right: 8px;
}
main.app li.board {
  display: inline-block;
  width: 24.25%;
  height: 95px;
  margin-right: 1%;
  margin-bottom: 1%;
  border-radius: 3px;
  vertical-align: top;
}
main.app li.board a {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  font-size: 1pc;
  font-weight: 700;
  box-sizing: border-box;
  padding: 10px 12px;
}
main.app li.board a span {
  font-size: 14px;
  color: #e6c60d;
  transition: font-size 0.1s ease-in;
}
main.app li.board a span:hover {
  font-size: 17px;
  opacity: 0.8;
}
main.app li.board:nth-of-type(4n) {
  margin-right: 0;
}
main.app li.board.board {
  background: #026aa7;
}
main.app li.board.board a {
  color: #fff;
}
main.app li.board.board:hover {
  background: #025a8e;
}
main.app li.board.new-board {
  background: #e2e4e6;
}
main.app li.board.new-board span {
  color: #8c8c8c;
  text-align: center;
  padding-top: 37px;
  display: block;
  font-size: 14px;
  font-weight: 700;
}
main.app li.board.new-board:hover {
  background: #d4d7da;
}
main.app #boards-personal li span.hidden-star {
  position: absolute;
  top: 10px;
  right: 12px;
  display: none;
  opacity: 0;
  transition: right 0.2s ease-in, opacity 0.2s;
}
main.app #boards-search {
  position: absolute;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
  padding: 5px;
  box-sizing: border-box;
  width: 280px;
  top: 0;
  left: 0;
  background: #fff;
}
main.app #boards-search span,
main.app #boards-search li,
main.app #boards-search a,
main.app #boards-search input {
  font-size: 14px;
}
main.app #boards-search input.board-search-box {
  width: 99%;
  background: #e2e4e6;
  border-radius: 3px;
  border: 1px solid #a5acb0;
  padding: 6px;
  outline: none;
  box-sizing: border-box;
}
main.app #boards-search input.board-search-box:focus {
  background: #fff;
  box-shadow: 0px 0px 2px 1px #4288cc;
  border: 1px solid #b3b9bc;
}
main.app #boards-search header {
  padding: 10px;
}
main.app #boards-search header span {
  color: #8c8c8c;
}
main.app #boards-search ul.search-boards li {
  display: block;
  width: 100%;
}
main.app #boards-search ul.search-boards a {
  color: #111;
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 9px 0 9px 46px;
  background: #e4f0f6;
  border-radius: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 18px;
  z-index: 1;
}
main.app #boards-search ul.search-boards a span {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  background: #5299c3;
  top: 0;
  left: 0;
  z-index: 2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
main.app #boards-search ul.search-boards a:hover {
  background: #d1e5f0;
}
main.app #boards-search ul.search-boards a:hover span {
  background: #418dbb;
}
main.app #boards-notification {
  position: absolute;
  background: #edeff0;
  border-radius: 3px;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 5px;
  width: 450px;
  box-shadow: 0px 0px 3px 0px #666;
}
main.app #boards-notification header {
  padding: 9px 32px;
  margin: 0 10px;
  border-bottom: 1px solid #d6dadc;
}
main.app #boards-notification header > span {
  display: block;
  color: #8c8c8c;
  vertical-align: middle;
  text-align: center;
}
main.app #boards-notification header span.icon-sm {
  position: absolute;
  top: 14px;
  right: 2px;
  cursor: pointer;
}
main.app #boards-notification a,
main.app #boards-notification span {
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
}
main.app #boards-notification span.author {
  font-weight: 700;
}
main.app #boards-notification span.ago {
  color: #8c8c8c;
  font-size: 9pt;
}
main.app #boards-notification a {
  text-decoration: underline;
}
main.app #boards-notification li {
  padding: 10px 5px 8px 5px;
  margin: 0 10px;
  border-bottom: 1px solid #d6dadc;
}
main.app #boards-notification li:last-of-type {
  border-bottom: none;
}
main.app #boards-notification ul > li > img {
  float: left;
  margin-right: 3px;
  border-radius: 3px;
}
main.app #boards-notification ul > li span,
main.app #boards-notification ul > li a {
  vertical-align: top;
}
main.app #create-board {
  position: absolute;
  background: #fff;
  border-radius: 3px;
  left: 50%;
  height: 300px;
  margin-left: -225px;
  box-sizing: border-box;
  padding: 5px;
  width: 450px;
  box-shadow: 0px 0px 3px 0px #666;
}
main.app #create-board header {
  padding: 9px 32px;
  margin: 0 10px;
  border-bottom: 1px solid #d6dadc;
}
main.app #create-board header > span {
  display: block;
  color: #8c8c8c;
  vertical-align: middle;
  text-align: center;
}
main.app #create-board header span.icon-sm {
  position: absolute;
  top: 14px;
  right: 2px;
  cursor: pointer;
}
main.app #create-board form label,
main.app #create-board form input {
  display: block;
  margin: 0 0 10px 0;
}
main.app #create-board form input {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
}
main.app #create-board form input[type="text"] {
  border-radius: 3px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
main.app #profile {
  position: absolute;
  background: #edeff0;
  border-radius: 3px;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  box-shadow: 0px 0px 3px 0px #666;
}
main.app #profile header {
  padding: 9px 32px;
  margin: 0 10px;
  border-bottom: 1px solid #d6dadc;
}
main.app #profile header > span {
  display: block;
  color: #8c8c8c;
  vertical-align: middle;
  text-align: center;
}
main.app #profile header span.icon-sm {
  position: absolute;
  top: 14px;
  right: 2px;
  cursor: pointer;
}
main.app #profile a,
main.app #profile span {
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  vertical-align: middle;
}
main.app #profile li {
  padding: 10px 5px 8px 5px;
  margin: 0 10px;
  border-bottom: 1px solid #d6dadc;
}
main.app #profile li a {
  height: 100%;
  width: 100%;
  display: block;
  font-weight: 700;
}
main.app #profile li:last-of-type {
  border-bottom: none;
}
main.app #profile li:hover {
  background: #298fca;
}
main.app #profile li:hover a {
  color: #fff;
}
.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}
