body,
html {
  background: #fff;
}
nav.app-layout {
  padding: 5px;
  background: #026aa7;
}
nav.app-layout .logo-white.dashboard {
  height: 1.2em;
  opacity: 0.5;
  display: block;
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -38px;
  transition: opacity 0.2s ease-in;
}
nav.app-layout .logo-white.dashboard img {
  height: 100%;
}
nav.app-layout .logo-white.dashboard:hover {
  opacity: 0.8;
}
nav.app-layout .header-box {
  height: 30px;
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
  vertical-align: middle;
}
main.app {
  color: #4d4d4d;
}
