@import 'mixins.styl'

body, html
  background: colors.app.bg

nav.app-layout
  padding: 5px
  background: colors.appNav.bg
  position: fixed
  height: 40px
  top: 0
  right: 0
  left: 0
  z-index: 3
  box-sizing: border-box
  img, span
    vertical-align: middle
  span
    font-size: 14px
    font-weight: 700
  .logo-white.dashboard
    height: 1.2em
    opacity: 0.5
    display: block
    position: absolute
    left: 50%
    top: 8px
    margin-left: -38px
    transition: opacity 0.2s ease-in
    img
      height: 100%
    &:hover
      opacity: 0.8
  .logo-white.icon
    display: inline-block
    height: 30px
    width: 30px
    text-indent: 9999px
    background: transparent url('/images/logo.png') 0 6px no-repeat
    background-size: 20px
    margin-right: 2px
  .header-box
    height: 30px
    background: colors.appNav.header.bg
    border-radius: 3px
    box-sizing: border-box
    vertical-align: middle
    &:hover
      background: colors.appNav.header.bgLight
  .header-boards
    padding: 0 5px
  .header-search.header-box
    position: relative
    margin-left: 5px
    input
      height: 30px
      position: relative
      width: 150px
      padding: 0 30px 0 8px
      margin: 0
      font-size: 13px
      opacity: 0
      border: none
      border-radius: 3px
      z-index: 1
      transition: width 0.2s ease-in
      &.focus
        opacity: 1
        outline: none
        width: 318px
        padding-right: 54px
        & ~ .hide
          display: inline-block
        & ~ .icon-search
          display: none
    span, a
      font-size: 14px
      color: colors.appNav.header.text
      position: absolute
      z-index: 2
      cursor: pointer
      &.icon-search
        top: 0
        right: 0
      &.icon-close
        top: 0
        right: 0
        color: colors.appNav.header.darkText
        &:hover
          color: darken(colors.appNav.header.darkText, 50)
      &.icon-external-link
        top: 0
        right: 24px
        color: colors.appNav.header.darkText
        &:hover
          color: darken(colors.appNav.header.darkText, 50)
  .header-user
    margin: 0 3px
    span
      padding: 0 8px
    img
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px
  .header-icon
    color: colors.appNav.header.text
    font-size: 16px
    margin: 0 3px

.hide
  display: none

main.app
  margin-top: 40px
  position: relative
  width: 86%
  min-width: 960px
  min-height: 800px
  padding: 40px 7% 0 7%
  color: colors.app.text
  z-index: 1
  header
    .boards-section-header
      font-size: 1pc
      font-weight: 700
    span, .boards-section-header
      display: inline-block
      vertical-align: middle
    span
      margin-right: 8px
  li.board
    display: inline-block
    position: relative
    width: 24.25%
    height: 95px
    margin-right: 1%
    margin-bottom: 1%
    border-radius: 3px
    vertical-align: top
    span.icon-close
      display: none
      position: absolute
      top: 5px
      right: 5px
      cursor: pointer
      &:hover
        color: #fff
    a
      height: 100%
      width: 100%
      display: block
      position: relative
      font-size: 1pc
      font-weight: 700
      box-sizing: border-box
      padding: 10px 12px
      span
        font-size: 14px
        color: colors.app.boardCard.star
        transition: font-size 0.1s ease-in
        &:hover
          font-size: 17px
          opacity: 0.8
    &:nth-of-type(4n)
      margin-right: 0
    &.board
      background: colors.app.boardCard.bg
      a
        color: colors.app.boardCard.text
      &:hover
        background: darken(colors.app.boardCard.bg, 5)
        span.icon-close
          display: block
    &.new-board
      background: colors.app.boardCard.bgNew
      cursor: pointer
      span
        color: colors.app.boardCard.textNew
        text-align: center
        padding-top: 37px
        display: block
        font-size: 14px
        font-weight: 700
      &:hover
        background: darken(colors.app.boardCard.bgNew, 5)
  #boards-personal
    li
      span.hidden-star
        position: absolute
        top: 10px
        right: 12px
        display: none
        opacity: 0
        transition: right 0.2s ease-in, opacity 0.2s
  #boards-search
    position: fixed
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
    padding: 5px
    box-sizing: border-box
    width: 280px
    top: 40px
    left: 0
    background: colors.boardSearch.bg
    z-index: 4
    span, li, a, input
      font-size: 14px
    input.board-search-box
      width: 99%
      background: #E2E4E6
      border-radius: 3px
      border: 1px solid #A5ACB0
      padding: 6px
      outline: none
      box-sizing: border-box
      &:focus
        background: #fff
        box-shadow: 0px 0px 2px 1px rgba(66,136,204,1)
        border: 1px solid lighten(#A5ACB0, 5)
    header
      padding: 10px
      span
        color: colors.boardSearch.textLight
    ul.search-boards
      li
        display: block
        width: 100%
      a
        color: colors.boardSearch.boardText
        position: relative
        display: block
        width: 100%
        box-sizing: border-box
        padding: 9px 0 9px 46px
        background: colors.boardSearch.cardBg
        border-radius: 3px
        margin-bottom: 5px
        font-weight: bold
        line-height: 18px
        z-index: 1
        span
          position: absolute
          content: ""
          height: 36px
          width: 36px
          background: colors.boardSearch.bgTile
          top: 0
          left: 0
          z-index: 2
          border-top-left-radius: 3px
          border-bottom-left-radius: 3px
        &:hover
          background: darken(colors.boardSearch.cardBg, 5)
          span
            background: darken(colors.boardSearch.bgTile, 5)
  #boards-notification
    position: fixed
    background: colors.notifications.bg
    border-radius: 3px
    top: 40px
    right: 0
    box-sizing: border-box
    padding: 5px
    width: 450px
    box-shadow: 0px 0px 3px 0px rgba(102,102,102,1)
    z-index: 4
    header
      padding: 9px 32px
      margin: 0 10px
      border-bottom: 1px solid colors.notifications.border
    header > span
      display: block
      color: colors.notifications.textLight
      vertical-align: middle
      text-align: center
    header span.icon-sm
      position: absolute
      top: 14px
      right: 2px
      cursor: pointer
    a, span
      font-size: 14px
      line-height: 18px
      color: colors.notifications.text
    span.author
      font-weight: 700
    span.ago
      display: inline-block
      margin-left: 5px
      color: colors.notifications.textLight
      font-size: 9pt
    a
      text-decoration: underline
    li
      padding: 10px 5px 8px 5px
      margin: 0 10px
      border-bottom: 1px solid colors.notifications.border
      &:last-of-type
        border-bottom: none
    ul > li > img
      float: left
      margin-right: 3px
      border-radius: 3px
    ul > li span, ul > li a
      vertical-align: top

  #create-board
    position: absolute
    background: #fff
    border-radius: 3px
    top: 15%
    left: 50%
    height: 300px
    margin-left: -225px
    box-sizing: border-box
    padding: 5px
    width: 450px
    box-shadow: 0px 0px 3px 0px rgba(102,102,102,1)
    header
      padding: 9px 32px
      margin: 0 10px
      border-bottom: 1px solid colors.notifications.border
    header > span
      display: block
      color: colors.notifications.textLight
      vertical-align: middle
      text-align: center
    header span.icon-sm
      position: absolute
      top: 14px
      right: 2px
      cursor: pointer
    form
      label, input
        display: block
        margin: 0 0 10px 0
      input
        width: 100%
        box-sizing: border-box
        height: 36px
      input[type="text"]
        border-radius: 3px
        font-size: 16px
        padding: 8px
        border: 1px solid #ccc
        appearance()
      input[type="submit"]
        cursor: pointer

  #profile
    position: fixed
    background: colors.notifications.bg
    border-radius: 3px
    top: 40px
    right: 0
    box-sizing: border-box
    padding: 5px
    width: 250px
    box-shadow: 0px 0px 3px 0px rgba(102,102,102,1)
    z-index: 4
    header
      padding: 9px 32px
      margin: 0 10px
      border-bottom: 1px solid colors.notifications.border
    header > span
      display: block
      color: colors.notifications.textLight
      vertical-align: middle
      text-align: center
    header span.icon-sm
      position: absolute
      top: 14px
      right: 2px
      cursor: pointer
    a, span
      font-size: 14px
      line-height: 18px
      color: colors.notifications.text
      vertical-align: middle
    li
      padding: 10px 5px 8px 5px
      margin: 0 10px
      border-bottom: 1px solid colors.notifications.border
      a
        height: 100%
        width: 100%
        display: block
        font-weight: 700
      &:last-of-type
        border-bottom: none
      &:hover
        background: colors.profile.bgHover
        a
          color: colors.profile.textHover
  #boards-header
    position: fixed
    height: 45px
    margin-top: 40px
    top: 0
    left: 0
    right: 0
    z-index: 2
    background: colors.listsView.bg
    color: colors.listsView.text
    box-sizing: border-box
    padding: 8px 4px 8px 8px
    .large-board-header
      font-size: 18px
      line-height: 30px
      padding-left: 4px
      font-weight: 700
    .small-board-header
      font-size: 9pt
      height: 30px
      padding: 4px 3px 3px 3px
      border-radius: 3px
      box-sizing: border-box
      text-decoration: underline
      cursor: pointer
      span
        color: colors.listsView.text
      &:hover
        background: darken(colors.listsView.bg, 5)
  #lists
    z-index: 0
    li.list
      width: 270px
      min-height: 80px
      background: colors.listsView.list
      display: block
      float: left
      color: colors.listsView.listText
      border-radius: 3px
      margin-right: 10px
      span.icon-close
        display: none
      &:hover span.icon-close
        display: block
      header
        height: 35px
        box-sizing: border-box
        padding: 4px 8px 3px 8px
        position: relative
        .list-name
          box-sizing: border-box
          padding: 2px 12px 2px 2px
          appearance()
          outline: none
          font-size: 14px
          background: colors.listsView.list
          border: none
          height: 28px
          width: 220px
          font-weight: 700
          border-radius: 3px
          &:focus
            background: #fff
        .list-menu
          position: absolute
          top: 4px
          right: 2px
          height: 28px
          width: 30px
          border-radius: 3px
          padding: 5px 2px 5px 2px
          box-sizing: border-box
          &:hover
            background: darken(colors.listsView.list, 5)
      ul.cards
        padding: 2px 8px
        display: block
        li.card
          display: block
          position: relative
          box-sizing: border-box
          padding: 8px
          font-size: 14px
          background: colors.listsView.card
          box-shadow: 0px 1px 1px 0px rgba(100,100,100,1)
          border: none
          border-radius: 3px
          margin-bottom: 5px
          span.icon-close
            display: none
            position: absolute
            top: 8px
            right: 8px
            cursor: pointer
          &:hover span.icon-close
            display: block
      p
        font-size: 12px
        padding: 10px
        color: lighten(colors.listsView.listText, 35)
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        &:hover
          background: darken(colors.listsView.list, 5)


.underline
  text-decoration: underline

#new-list
  background: colors.newList.bg
  box-sizing: border-box
  width: 270px
  float: left
  border-radius: 3px
  input
    outline: none
    font-size: 14px
    color: #fff
    background: colors.newList.bg
    border: none
    padding: 12px 8px
    vertical-align: middle
    height: 100%
    width: 100%
    box-sizing: border-box
    border-radius: 3px
    display: block
    placeholder(colors.newList.text)
    appearance()
    &:hover
      background: darken(colors.newList.bg, 5)
  .save
    display: none
  &:hover
    background: darken(colors.newList.bg, 5)
  &.add-list
    background: colors.listsView.list
    color: colors.listsView.text
    padding: 3px 3px 5px 3px
    input
      background: #D7D9DB
      border: 1px solid #AAA
      padding: 8px
      color: #8C8C8C
      margin-bottom: 3px
      placeholder(#8C8C8C)
      box-shadow: inset 0px 0px 1px 0 rgba(0,0,0,0.5)
    .save
      display: block
      .btn, span
        vertical-align: middle
        cursor: pointer
      .btn
        height: 30px
        font-size: 14px
        padding: 5px 12px
        margin-left: 0px

#new-card
  box-sizing: border-box
  padding: 0 8px 8px 8px
  textarea
    border-radius: 3px
    appearance()
    outline: none
    border: none
    height: 65px
    width: 100%
    padding: 8px
    font-size: 14px
    box-sizing: border-box
    box-shadow: 0px 1px 1px 0px rgba(100,100,100,1)
  .save
    display: block
    .btn, span
      vertical-align: middle
      cursor: pointer
    .btn
      height: 30px
      font-size: 14px
      padding: 5px 12px
      margin-left: 0px


