colors = {
  text: #fff,
  highlight: #5FB94C,
  background: #026AA7,
  basicNav: {
    bg: #0079BF,
    btn: {
      default: #026AA7,
      primary: #5FB94C,
      text: #fff
    }
  },
  appNav: {
    bg: #026AA7,
    header: {
      bg: rgba(255, 255, 255, 0.3),
      bgLight: rgba(255, 255, 255, 0.4),
      text: #fff,
      darkText: #ccc
    }
  },
  infoContent: {
    bg: rgba(255, 255, 255, 0.75),
    text: #026AA7
  },
  app: {
    bg: #fff,
    text: #4d4d4d,
    boardCard: {
      bg: #026AA7,
      text: #fff,
      bgNew: #E2E4E6,
      textNew: #8c8c8c,
      star: #E6C60D
    }
  },
  boardSearch: {
    bg: #fff,
    boardText: #111,
    textLight: #8C8C8C,
    cardBg: #E4F0F6,
    bgHover: #BCD9EA,
    bgTile: #5299C3
  },
  notifications: {
    bg: #EDEFF0,
    text: #4D4D4D,
    textLight: #8C8C8C,
    border: #D6DADC
  },
  profile: {
    bgHover: #298FCA,
    bg: #fff,
    textHover: #fff
  },
  listsView: {
    bg: #0079BF,
    text: #fff,
    list: #E2E4E6,
    listText: #4D4D4D
    card: #fff
  },
  newList: {
    bg: #0067A3,
    text: #E4F0F6
  }
}

appearance()
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none

button()
  position: relative
  display: inline-block
  padding: 5px
  border-radius: 10px
  font-size: 0.8em
  line-height: 1.1em
  margin: 0 0.25em
  padding: 0.7em 1.3em
  border: none
  border-radius: 5px
  background: colors.basicNav.btn.default
  color: colors.basicNav.btn.text
  text-decoration: none
  outline: none
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.7)
  appearance()

button-primary()
  font-weight: bold
  background: colors.basicNav.btn.primary
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.7)

button-new()
  background: colors.btn.new
  box-shadow: 2px 2px 0 2px darken(colors.btn.new, 10)
  transition: box-shadow 200ms ease-in, top 200ms ease-in, left 200ms ease-in
  &:active
    top: 2px
    left: 2px
    box-shadow: 1px 1px 0 1px darken(colors.btn.new, 10)

placeholder(selected-color)
  &::-webkit-input-placeholder
    color: selected-color
  &:-ms-input-placeholder
    color: selected-color
  &::-moz-placeholder
    color: selected-color
    opacity: 1
  &:-moz-placeholder
    color: selected-color
    opacity: 1