@import 'meyer_css_reset.css'
@import 'mixins.styl'
@import 'trellicons.css'

html,
body
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif
  color: colors.text
  background: colors.background

a
  color: colors.text
  text-decoration: none

nav.basic-layout
  background: colors.basicNav.bg
  padding: 20px
  height: 2em
  header
    float: left
    a.logo-white
      display: block
      height: 2em
      img
        height: 100%
    a.logo-white:hover
      opacity: 0.8
  section.user-nav
    float: right

.btn
  button()
  &.btn-primary
    button-primary()

.clearfix
  overflow: hidden

.mod-left
  float: left

.mod-right
  float: right

.one-third,
.two-third,
  box-sizing: border-box
  display: block

.one-third
  width: 33%

.two-third
  width: 66%

.info-content
  text-align: center
  vertical-align: middle
  p
    padding: 50px
    margin: 5px
    border-radius: 5px
    color: colors.infoContent.text
    background: colors.infoContent.bg

form
  max-width: 500px
  min-width: 300px
  padding: 20px 50px
  margin: 5px
  border-radius: 5px
  color: colors.infoContent.text
  background: colors.infoContent.bg
  margin: 20px auto
  h1
    text-align: left

div.container
  background: colors.background

main
  h1.large
    font-size: 3em
    text-align: center
    padding: 15px 50px 10px 50px
  p
    padding-left: 60px

.highlight
  color: colors.highlight
  &:phover
    color: lighten(colors.highlight, 20)
    text-decoration: underline
