@import 'meyer_css_reset.css';
@import 'trellicons.css';
html,
body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #026aa7;
}
a {
  color: #fff;
  text-decoration: none;
}
nav.basic-layout {
  background: #0079bf;
  padding: 20px;
  height: 2em;
}
nav.basic-layout header {
  float: left;
}
nav.basic-layout header a.logo-white {
  display: block;
  height: 2em;
}
nav.basic-layout header a.logo-white img {
  height: 100%;
}
nav.basic-layout header a.logo-white:hover {
  opacity: 0.8;
}
nav.basic-layout section.user-nav {
  float: right;
}
#login h1,
#signup h1 {
  margin-bottom: 10px;
}
#login dd,
#signup dd,
#login dt,
#signup dt {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  text-align: left;
}
#login dt,
#signup dt {
  width: 150px;
}
#login dd input,
#signup dd input {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 8px;
  width: 200px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#login span,
#signup span {
  text-align: left;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.8em;
  line-height: 1.1em;
  margin: 0 0.25em;
  padding: 0.7em 1.3em;
  border: none;
  border-radius: 5px;
  background: #026aa7;
  color: #fff;
  text-decoration: none;
  outline: none;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.7);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.btn.btn-primary {
  font-weight: bold;
  background: #5fb94c;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.7);
}
.clearfix {
  overflow: hidden;
}
.mod-left {
  float: left;
}
.mod-right {
  float: right;
}
.one-third,
.two-third,
box-sizing: border-box {
  display: block;
}
.one-third {
  width: 33%;
}
.two-third {
  width: 66%;
}
.info-content {
  text-align: center;
  vertical-align: middle;
}
.info-content p {
  padding: 50px;
  margin: 5px;
  border-radius: 5px;
  color: #026aa7;
  background: rgba(255,255,255,0.75);
}
form {
  max-width: 500px;
  min-width: 300px;
  padding: 20px 50px;
  margin: 5px;
  border-radius: 5px;
  color: #026aa7;
  background: rgba(255,255,255,0.75);
  margin: 20px auto;
}
form h1 {
  text-align: left;
}
div.container {
  background: #026aa7;
}
main h1.large {
  font-size: 3em;
  text-align: center;
  padding: 15px 50px 10px 50px;
}
main p {
  padding-left: 60px;
}
.highlight {
  color: #5fb94c;
}
.highlight:phover {
  color: #a1d695;
  text-decoration: underline;
}
